.heading-section .subheading {
    font-size: 12px;
    display: block;
    margin-bottom: 0px;
    color: #46b3e6;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.heading-section .subheading:after {
    right: -70px;
}
.heading-section .subheading:before {
    left: -70px;
}
.subheading:before {
    position: absolute;
    top: 50%;
    content: '';
    width: 50px;
    height: 1px;
    background: #46b3e6;
    z-index: -1;
}
.subheading:after {
    position: absolute;
    top: 50%;
    content: '';
    width: 50px;
    height: 1px;
    background: #46b3e6;
    z-index: -1;
}
.portal_logo{
    border-radius: 150px;
    margin-top: 10px;
}