
<div class="container-fluid">
  <div class="navbar">
      <img src="../../assets/images/SKYLOOV_ LOGO.png" alt="logo" class="logo">
      <nav>
        <ul id="menu-list">
            <li *ngIf=" this.loginedRole === 'user'"><a routerLink="/dashBoard/user-profile" routerLinkActive="active" >Users Profile</a></li>
            <li *ngIf=" this.loginedRole === 'admin'"><a routerLink="/dashBoard/admin-profile">Admin Portal</a></li>
            <li><a href="">Queries</a></li>
            <li><a (click)="logout()">logout</a></li>
        </ul>
      </nav>
      <img src="../../assets/images/menu.png" alt="menu" class="menu-icon" (click)="togglemenu()">
  </div>
<div class="row justify-content-center bg-settings">
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
 
</div>
  <div class="social-links">
      <img src="../../assets/images/fb.png" alt="fb">
      <img src="../../assets/images/tw.png" alt="tw">
      <img src="../../assets/images/ig.png" alt="lg">
  </div>
</div>
