<section class="login-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <a href="" class="heading-section"><img
            src="./../../assets/images/SKYLOOV_ LOGO.png" style="width: 200px;" alt="" /></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">Signup</h3>
          <form [formGroup]="loginForm" class="login-form">
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control rounded-left" placeholder="Email"
                required>
                <small *ngIf="isValid('email')">Please enter email</small>
            </div>
            <div class="form-group d-flex">
              <input type="password" formControlName="password" class="form-control rounded-left" placeholder="Password"
                required>
                <small *ngIf="isValid('password')">Please enter password</small>
            </div>
            <div class="form-group">
              <button type="submit" (click)="submitHandler()" [disabled]="!loginForm.valid"
                class="btn rounded submit-btn-custom">Get Started</button>
            </div>
             
          </form>
          <small><a routerLink="/registration" routerLinkActive="active">Register Here </a></small>
        </div>
      </div>
    </div>
  </div>
</section>